LINE_CHANNEL_SECRET=your_line_channel_secret_here
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
GEMINI_API_KEY=your_gemini_api_key_here
SUPABASE_URL=your_supabase_project_url_here
SUPABASE_SERVICE_KEY=your_supabase_service_role_key_here
EMAIL_ADDRESS=your_gmail_address_here
EMAIL_APP_PASSWORD=your_gmail_app_password_here
CRON_JOB_ORG_API_KEY=your_cron-job.org_api_key_here
REMINDER_TICK_SECRET=a_random_secret_string_you_generate_yourself
